1. Imprimir un listado con los números del 1 al 100 cada uno con su respectivo cuadrado.

In [1]:
def main():
  #Recorrer los números de 1 a 100
  for i in range(1, 101):
    #Calcular el cuadrado del número e imprimirlo
      print(i, i**2)

#Definir la función principal
if __name__ == "__main__":
    main()

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024
33 1089
34 1156
35 1225
36 1296
37 1369
38 1444
39 1521
40 1600
41 1681
42 1764
43 1849
44 1936
45 2025
46 2116
47 2209
48 2304
49 2401
50 2500
51 2601
52 2704
53 2809
54 2916
55 3025
56 3136
57 3249
58 3364
59 3481
60 3600
61 3721
62 3844
63 3969
64 4096
65 4225
66 4356
67 4489
68 4624
69 4761
70 4900
71 5041
72 5184
73 5329
74 5476
75 5625
76 5776
77 5929
78 6084
79 6241
80 6400
81 6561
82 6724
83 6889
84 7056
85 7225
86 7396
87 7569
88 7744
89 7921
90 8100
91 8281
92 8464
93 8649
94 8836
95 9025
96 9216
97 9409
98 9604
99 9801
100 10000

2. Imprimir un listado con los números impares desde 1 hasta 999 y seguidamente otro listado con los números pares desde 2 hasta 1000.

In [2]:
def main():
  pares = []
  impares = []
  #Recorrer los números de 1 a 1000
  for i in range(1, 1001):
    #Verificar si el número es par o impar
    if i % 2 != 0:
      #Añadir el número a la lista de impares
      impares.append(i)
    else:
      #Añadir el número a la lista de pares
      pares.append(i)

  #Imprimir la lista de impares
  print("Números impares:")
  print(impares)
  #Imprimir la lista de pares
  print("Números pares:")
  print(pares)

#Definir la función principal
if __name__ == "__main__":
    main()

Números impares:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]
Números pares:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

3. Imprimir los números pares en forma descendente hasta 2 que son menores o iguales a un número natural n ≥ 2 dado

In [3]:
def main():
  n = int(input("Ingrese un número natural mayor o igual a 2: "))
  #Recorrer desde n hasta 2
  for i in range(n, 1, -1):
    #Verificar si el número es par
    if i % 2 == 0:
      #Imprimir el número
      print(i)

#Definir la función principal
if __name__ == "__main__":
    main()

Ingrese un número natural mayor o igual a 2: 56
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

4. Imprimir los números de 1 hasta un número natural n dado, cada uno con su respectivo factorial

In [5]:
def factorial(n):
  #Función que calcula el factorial de un número
    if n == 0:
        fact = 1 #Si el número es 0 por definición el factorial es 1
    else:
        fact = 1
        for i in range(1, n + 1):
          #Multiplica iterativamente hasta obtener el factorial del número requerido
            fact *= i
    return fact #Retorna el factorial del número

def main():
    n = int(input("Ingrese un número natural: "))

    # Calcular el factorial desde 1 hasta n y lo imprime
    for i in range(1, n + 1):
        f = factorial(i)
        print(i, f)

# Definir la función principal
if __name__ == "__main__":
    main()

Ingrese un número natural: 8
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320

5. Calcular el valor de 2 elevado a la potencia n usando ciclos for.

In [7]:
def main():
    #Ingresar el valor de n
    n = int(input("Ingrese un número entero positivo: "))

    #Inicializar el resultado en 1 (2^0)
    resultado = 1

    for i in range(n):
       #Calcular 2^n usando un ciclo for
        resultado *= 2

    #Imprimir el resultado
    print(f"El valor de 2 elevado a la potencia {n} es: {resultado}")

#Definir la función principal
if __name__ == "__main__":
    main()

Ingrese un número entero positivo: 5
El valor de 2 elevado a la potencia 5 es: 32

6. Leer un número natural n, leer otro dato de tipo real x y calcular x^n usando ciclos for. \\
Disclaimer: Trate de no utilizar el operador de potencia (**).

In [9]:
def main():
    # Leer el valor del número natural n
    n = int(input("Ingrese un número natural n: "))

    # Leer el valor del número real x
    x = float(input("Ingrese un número real x: "))

    # Inicializar el resultado en 1 (x^0 = 1)
    resultado = 1.0 #Note que se usa '.' para que no se interprete como entero

    # Calcular x^n usando un ciclo for
    for i in range(n):
        resultado *= x

    # Imprimir el resultado
    print(f"El valor de {x} elevado a la potencia {n} es: {resultado}")

# Definir la función principal
if __name__ == "__main__":
    main()

Ingrese un número natural n: 5
Ingrese un número real x: 0.5
El valor de 0.5 elevado a la potencia 5 es: 0.03125

7. Diseñe un programa que muestre las tablas de multiplicar del 1 al 9.

In [10]:
def main():
    # Generamos las tablas de multiplicar del 1 al 9
    for i in range(1, 10):
        print(f"Tabla del {i}:")
        for j in range(1, 10):
            print(f"{i} x {j} = {i * j}")
        print("-" * 15)

# Definimos la función principal
if __name__ == "__main__":
    main()

Tabla del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
---------------
Tabla del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------------
Tabla del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---------------
Tabla del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------------
Tabla del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---------------
Tabla del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------------
Tabla del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---------------
Tabla del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------------
Tabla del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------

8. Diseñar una función que permita calcular una aproximación de la función exponencial alrededor de 0 para cualquier valor x (real), utilizando los primeros n términos de la serie de Taylor. **Nota:** use *math* para traer la función exponencial y mostrar la diferencia entre el valor real y la aproximación.
$$e^x \approx exp(x,n) \approx \sum_{i=0}^{n}\frac{x^i}{i!}$$

In [11]:
import math

# Calculamos el factorial de un número
def factorial(n):
    if n == 0:
        return 1
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

# Calculamos la aproximación de e^x utilizando la serie de Taylor
def taylor_exp(x, n):
    result = 0
    for i in range(n + 1):  # Ajustamos el rango para incluir el término n
        result += x**i / factorial(i)
    return result

def main():
    # Leemos los valores de x y n
    x = float(input("Ingrese el valor de x (real): "))
    n = int(input("Ingrese el número de términos n (entero, n >= 0): "))

    # Validamos que n sea no negativo
    if n < 0:
        print("El número de términos n debe ser un entero no negativo.")
        return

    # Calculamos la aproximación y el valor real
    approx = taylor_exp(x, n)
    real = math.exp(x)
    difference = abs(real - approx)

    # Mostramos los resultados
    print(f"Valor aproximado de e^{x} usando {n} términos: {approx}")
    print(f"Valor real de e^{x}: {real}")
    print(f"Diferencia absoluta: {difference}")

# Ejecutamos la función principal
if __name__ == "__main__":
    main()

Ingrese el valor de x (real): 1
Ingrese el número de términos n (entero, n >= 0): 4
Valor aproximado de e^1.0 usando 4 términos: 2.708333333333333
Valor real de e^1.0: 2.718281828459045
Diferencia absoluta: 0.009948495125712054

9. Diseñar una función que permita calcular una aproximación de la función seno alrededor de 0 para cualquier valor x (real), utilizando los primeros n términos de la serie de Maclaurin. **Nota:** use *math* para traer la función seno y mostrar la diferencia entre el valor real y la aproximación.
$$sin(x) \approx sin(x,n) \approx \sum_{i=0}^{n} (-1)^i \frac{x^{2i+1}}{(2i+1)!}$$

In [12]:
import math

# Calculamos el factorial de un número
def factorial(n):
    if n == 0:
        return 1
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

# Calculamos la función seno usando la serie de Maclaurin
def maclaurin_sin(x, n):
    result = 0
    for i in range(n + 1):
        term = (-1) ** i * x ** (2 * i + 1) / factorial(2 * i + 1)
        result += term
    return result

def main():
    # Leemos los valores de x y n
    x = float(input("Ingrese el valor de x (real): "))
    n = int(input("Ingrese el número de términos n (entero, n >= 0): "))

    # Validamos que n sea no negativo
    if n < 0:
        print("El número de términos n debe ser un entero no negativo.")
        return

    # Calculamos la aproximación y el valor real
    approx = maclaurin_sin(x, n)
    real = math.sin(x)
    difference = abs(real - approx)

    # Mostramos los resultados
    print(f"Valor aproximado de sin({x}) usando {n} términos: {approx}")
    print(f"Valor real de sin({x}): {real}")
    print(f"Diferencia absoluta: {difference}")

# Ejecutamos la función principal
if __name__ == "__main__":
    main()

Ingrese el valor de x (real): 3.1415926536
Ingrese el número de términos n (entero, n >= 0): 4
Valor aproximado de sin(3.1415926536) usando 4 términos: 0.006925270697542493
Valor real de sin(3.1415926536): -1.0206823934513925e-11
Diferencia absoluta: 0.006925270707749317